![title](img/header.png)

<h1>Sets pada Python</h1>

<p><strong>Selamat Datang!</strong> Notebook ini akan mengajarkan Anda tentang sets pada bahasa pemrograman Python. Akhir dari notebook ini, Anda akan mengetahui dasar operasi set pada Python, termasuk apa itu set, cara mengoperasikannya, dan operasi logikanya</p>

<h2>Daftar Isi</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#set">Sets</a>
            <ul>
                <li><a href="content">Set Content</a></li>
                <li><a href="op">Operasi Set</a></li>
                <li><a href="logic">Operasi Logic pada Set</a></li>
            </ul>
        </li>
        <li>
            <a href="#quiz">Kuis tentang Sets</a>
        </li>
    </ul>
    <p>
        Prakiraan waktu yang dibutuhkan: <strong>20 min</strong>
    </p>
</div>

<hr>

<h2 id="set">Sets</h2>

<h3 id="content">Set Content</h3>

Sebuah set adalah sekumpulan objek unik pada Python. Anda dapat menunjukkan sebua set dengan kurung kurawal **{ }**. Python akan secara otomatis menghapus duplikasi elemen:

In [1]:
# Buat sebuah set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

Proses pemetaan di ilustrasikan pada gambar dibawah:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnique.png" width="1100" />

  Anda juga dapat membuat sebuah set sebagai list seperti berikut:

In [2]:
# Konversi list menjadi set

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{65,
 '00:42:19',
 'Michael Jackson',
 None,
 10.0,
 46.0,
 'Pop, Rock, R&B',
 '30-Nov-82',
 'Thriller',
 1982}

Sekarang, mari buat sebuah set dari genre:

In [3]:
# Konversi list menjadi set

music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

<h3 id="op">Operasi Set</h3>

Operasi pada set, karena dapat digunakan untuk mengubah set. Memperhatikan set **A**:

In [4]:
# Contoh set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

  Kita dapat menambahkan elemen kedalam set menggunakan <code>add()</code>:

In [5]:
# Menambahkan elemen kedalam set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

Jika kita menambahkan yang sama sebanyak dua kali, tidak akan terjadi perubahan karena tidak ada duplikasi pada set:

In [6]:
# Coba tambahkan duplikasi elemen kedalam set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

  kita dapat menghapus sebuah item dari sebuah set menggunakan <code>remove</code>:

In [7]:
# Hapus elemen dari set

A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

 Kita dapat memverifikasi sebuah elemen didalam set dengan menggunakan perintah <code>in</code>:

In [8]:
# Verifikasi jika elemen ada dalam set

"AC/DC" in A

True


<h3 id="logic">Operasi Logic pada Set</h3>

Ingat bahwa dengan sets Anda dapat cek perbedaan diantara set-set, serta perbedaan simetris, irisan, dan gabungan:

 Perhatikan dua set berikut:

In [9]:
# Contoh Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsSamples.png" width="650" />

In [10]:
# Print dua buah set

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

Karena kedua set mengandung **AC/DC** dan **Back in Black**, kita merepresentasikan elemen-elemen ini dengan irisan dari dua buah lingkaran.

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLogic.png" width = "650" />

Kita dapat menemukan irisan dari dua set dengan menggunakan <code>&</code>

In [11]:
# Cari irisan dari dua buah set

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

Anda dapat menemukan semua elemen yang hanya terkandung pada <code>album_set1</code> dengan menggunakan metode <code>difference</code>:

In [12]:
# Cari perbedaan pada set1 tapi tidak pada set2

album_set1.difference(album_set2)

{'Thriller'}

Anda hanya perlu memperhatikan elemen dalam <code>album_set1</code>; semua elemen dalam <code>album_set2</code>, termasuk irisannya, tidak termasuk.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLeft.png" width="650" />

Elemen dalam <code>album_set2</code> tapi tidak pada <code>album_set1</code> diberikan dengan:

In [13]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsRight.png" width="650" />

Anda bisa juga menemukan irisan dari <code>album_list1</code> dan <code>album_list2</code>, dengan menggunakan <code>intersection</code>:

In [14]:
# Gunakan intersection untuk menemukan irisan dari album_list1 dan album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

  Ini sesuai dengan irisan dari dua buah lingkaran:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsIntersect.png" width="650" />

Sebuah gabungan (union) sesuai dengan semua elemen dari kedua set, dimana direpresentasikan dengan pewarnaan kedua lingkaran:

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnion.png" width="650" />

  Gabungan diberikan dengan:

In [15]:
# Cari gabungan gabungan dari dua set

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Dan Anda dapat cek jika sebuah set adalah superset atau subset dari set lainnya, seperti ini:

In [16]:
# Cek jika superset

set(album_set1).issuperset(album_set2)

False

In [17]:
# Cek jika subset

set(album_set2).issubset(album_set1)

False

Ini adalah sebuah contoh dimana <code>issubset()</code> dan <code>issuperset()</code> mengembalikan nilai true:

In [18]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

True

In [19]:
# Check if superset

album_set1.issuperset({"Back in Black", "AC/DC"})

True

<hr>

<h2 id="quiz">Kuis tentang Sets</h2>

Konversi list <code>['rap','house','electronic music', 'rap']</code> menjadi sebuah set:

In [20]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
set(['rap','house','electronic music','rap'])
-->

<hr>

Perhatikan list <code>A = [1, 2, 2, 1]</code> dan set <code>B = set([1, 2, 2, 1])</code>, lakukan <code>sum(A) = sum(B)</code>

In [21]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))
-->

<hr>

Buat sebuah set baru <code>album_set3</code> yang merupakan gabungan (union) dari <code>album_set1</code> dan <code>album_set2</code>:

In [22]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
album_set3 = album_set1.union(album_set2)
album_set3
-->

<hr>

Temukan jika <code>album_set1</code> adalah subset dari <code>album_set3</code>:

In [23]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
album_set1.issubset(album_set3)
-->

<h3>About the Authors:</h3>  
<p><a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a> is a Data Scientist at IBM, and holds a PhD in Electrical Engineering. His research focused on using Machine Learning, Signal Processing, and Computer Vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.</p>

Other contributors: <a href="www.linkedin.com/in/jiahui-mavis-zhou-a4537814a">Mavis Zhou</a>

<hr>

<p>Copyright &copy; 2018 IBM Developer Skills Network. This notebook and its source code are released under the terms of the <a href="https://cognitiveclass.ai/mit-license/">MIT License</a>.</p>