![title](img/header.png)

<h1>Tuples di Python</h1>

<p><strong>Selamat datang!</strong> Notebook ini akan mengajarkan terkait tuple di dalam bahasa pemrograman Phyton. Tujuan dari praktikum ini adalah mengetahui dasar operasi tuple di Pyton termasuk <i>indexing</i>, membagi (<i>slicing</i>) dan <i>sorting</i>.</p>

<h2>Daftar Isi</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#dataset">Tentang Data Set</a>
        </li>
        <li>
            <a href="#tuple">Tuples</a>
            <ul>
                <li><a href="index">Indexing</a></li>
                <li><a href="slice">Slicing</a></li>
                <li><a href="sort">Sorting</a></li>
            </ul>
        </li>
        <li>
            <a href="#escape">Kuiz Tuple</a>
        </li>
    </ul>
    <p>
        Perkiraan Waktu Pengerjaan: <strong>15 menit</strong>
    </p>
</div>

<hr>

<h2 id="dataset">Tentang Dataset</h2>

Bayangkan Anda menerima rekomendasi album dari teman Anda dan menggabungkan semua rekomendasi itu di dalam suatu tabel, dengan informasi spesifik untuk setiap albumnya.

Tabel tersebut mempunyai satu baris untuk setiap album dan beberapa kolom untuk :

- **artist** - Nama artis
- **album** - Nama album
- **released_year** - Tahun rilis album
- **length_min_sec** - Durasi album (jam, menit, detik)
- **genre** - Aliran musik album
- **music_recording_sales_millions** - Total penjualan musik (juta dollar dalam USD) pada [SONG://DATABASE](http://www.song-database.com/)
- **claimed_sales_millions** - Total penjualan album (juta dollar) pada [SONG://DATABASE](http://www.song-database.com/)
- **date_released** - Tanggal rilis album
- **soundtrack** - Jika album adalah OST suatu film, maka berisi (Y), jika tidak maka berisi (N).
- **rating_of_friends** - Berisi rating dari teman anda dari anda dengan isi 1 sampai 10.
<br>
<br>

Dataset dapat dilihat dibawah ini:

<font size="1">
<table font-size:xx-small style="width:25%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

<h2 id="tuple">Tuples</h2>

Di dalam Phyton, terdapat beberapa tipe data : string, integer dan float. Tipe data tersebut dapat digunakan untuk membentuk tuple :

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesType.png" width="750" align="center" />

Langkah pertama membuat tuple dengan elemen bertipe string, interger dan float.

In [1]:
# Membuat tuple pertama

tuple1 = ("disco",10,1.2 )
tuple1

('disco', 10, 1.2)

Tipe variabel adalah **tuple**.

In [2]:
# Menampilkan tipe data tuple yang sudah dibuat.

type(tuple1)

tuple

<h3 id="index">Indexing</h3>

Setiap element dari sebuah tuple dapat diakses melalui index. Tabel dibawah ini merepresentasikan hubungan antara index dan item di dalam tuple. Setiap elemen dapat diakses berdasarkan nama dari tuple dan diikuti kurung siku dengan nomer indexnya :

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesIndex.gif" width="750" align="center">

Kita dapat menampilkan setiap value (isi data) di dalam tuple :

In [3]:
# Menampilkan variable pada setiap index.

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

Tipe data dari masing-masing elemen dalam tuple dapat ditampilkan sebagai berikut:

In [4]:
# Menampilan tipe data dari sebuah value pada setiap index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

Indexing negatif dapat pula diterapkan pada tuple

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNeg.png" width="750" align="center">

Kita dapat mendapatkan elemen terakhir sebagai berikut : 
(Untuk menampilkan nilai tidak menggunakan print statement)

In [5]:
# Menggunakan index negatif untuk mendapatkan nilai dari elemen terakhir.

tuple1[-1]

1.2

Kita dapat menampilkan dua elemen berikutnya sebagai berikut:

In [6]:
# Menggunakan index negative untuk mendapatkan nilai dari element kedua terakhir.
tuple1[-2]

10

In [7]:
# Menggunakan index negatif untuk mendapatkan nilai dari element ketiga terkahir.
tuple1[-3]

'disco'

<h3 id="concate">Menggabungkan Tuples</h3>

Kita dapat menggabungkan tuple menggunakan tanda **+** :

In [8]:
# Menggabungkan dua tuple

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

Kita dapat memotong tuple untuk mendapat beberapa nilai sebagaimana yang didemonstrasikan seperti pada gambar dibawah ini :

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesSlice.gif" width="750" align="center">

<h3 id="slice">Slicing</h3>

Kita dapat memotong tuple dan mendapatkan tuple baru dengan elemen yang bersesuaian :

In [9]:
# Memotong dari index 0 sampai dengan index 2

tuple2[0:3]

('disco', 10, 1.2)

Kita dapat mendapatkan dua elemen terakhir dari tuple:

In [10]:
# Memotong dari index 3 sampai index 4

tuple2[3:5]

('hard rock', 10)

Kita dapat mencari nilai panjang tuple menggunakan perintah sebagai berikut:

In [11]:
# Mendapatkan panjang tuple

len(tuple2)

5

Gambar dibawah ini menunjukkan nomer dari element:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesElement.png" width="750" align="center">

<h3 id="sort">Sorting</h3>

 Jika terdapat tuple sebagai berikut :

In [12]:
# Contoh tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

Kita dapat mengurutkan nilai di dalam tuple dan menyimpannya ke dalam tuple yang baru :

In [13]:
# Mengurutkan tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

<h3 id="nest">Nested Tuple / Tuple bersarang</h3>

Sebuah tuple dapat berisi tuple yang lain seperti tipe data kompleks lainnya. Proses tersebut dinamakan <i>nesting</i> atau bersarang. Jika diketahui tuple dengan beberapa elemen sebagai berikut:

In [14]:
# Membuat tuple bersarang / nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

Di setiap elemen di dalam tuple dapat berisi tuple lainnya yang bisa didapatkan berdasarkan index sebagai mana gambar dibawah ini:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestOne.png" width="750" align="center">

In [15]:
# Menampilan elemen pada setiap index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

Kita dapat menggunakan index kedua untuk mengakses tuple lainnya sebagai mana gambar dibawah ini:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestTwo.png" width="750" align="center">

Kita dapat mengakses tuple bersarang :

In [16]:
# Menampilan elemen pada setiap index, termasuk index bersarangnya.

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

Kita dapat mengakses string pada tuple bersarang kedua dengan menggunakan index ketiga:

In [17]:
# Menampilan element pertama di dalam tuple bersarang kedua
NestedT[2][1][0]

'r'

In [18]:
# Menampilkan elemen kedua di dalam tuple bersarang kedua.
NestedT[2][1][1]

'o'

Kita dapat menggunakan tree untuk memvisualisasikan proses. Setiap index berhubungan untuk setiap level yang lebih dalam di dalam tree:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestThree.gif" width="750" align="center">

Kita dapat mengakses elemen bersarang lebih dalam menggunakan index ke empat:

In [19]:
# Menampilan elemen pertama di dalam tuple bersarang kedua

NestedT[4][1][0]

1

In [20]:
# Menampilan elemen kedua di tuple bersarang kedua

NestedT[4][1][1]

2

Gambar dibawah ini menunjukkan hubungan antara tree dan elemen <code>NestedT[4][1][1]</code>:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesNestFour.gif" width="750" align="center">

<h2 id="quiz">Kuis Tuples</h2>

Perhatikan tuple dibawah ini:

In [21]:
# contoh tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

Cari panjang dari tuple, <code>genres_tuple</code>:

In [22]:
# Tulis kode anda dibawah ini dan tekan Shift+Enter untuk melakukan eksekusi

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/TuplesQuiz.png" width="1100" align="center">

Double-click __di sini__ untuk membuka jawaban.

<!-- Your answer is below:
len(genres_tuple)
-->

Akses elemen dengan index 3:

In [23]:
# Tulis kode anda dibawah ini dan tekan Shift+Enter untuk melakukan eksekusi

Double-click __di sini__ untuk membuka jawaban.

<!-- Your answer is below:
genres_tuple[3]
-->

Potonglah tuple untuk mendapatkan index 3, 4 dan 5:

In [24]:
# Tulis kode anda dibawah ini dan tekan Shift+Enter untuk melakukan eksekusi

Double-click __di sini__ untuk membuka jawaban.

<!-- Your answer is below:
genres_tuple[3:6]
-->

Carilah dua elemen pertama dari tuple <code>genres_tuple</code>:

In [25]:
# Tulis kode anda dibawah ini dan tekan Shift+Enter untuk melakukan eksekusi

Double-click __di sini__ untuk membuka jawaban.




<!-- Your answer is below:
genres_tuple[0:2]
-->

Cari index pertama dari <code>"disco"</code>:

In [26]:
# Tulis kode anda dibawah ini dan tekan Shift+Enter untuk melakukan eksekusi

Double-click __di sini__ untuk membuka jawaban.

<!-- Your answer is below:
genres_tuple.index("disco")
-->

Buatlah list yang sudah terurut dari tuple <code>C_tuple=(-5, 1, -3)</code>:

In [27]:
# Tulis kode anda dibawah ini dan tekan Shift+Enter untuk melakukan eksekusi

Double-click __di sini__ untuk membuka jawaban.

<!-- Your answer is below:
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list
-->

<h3>About the Authors:</h3>  
<p><a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a> is a Data Scientist at IBM, and holds a PhD in Electrical Engineering. His research focused on using Machine Learning, Signal Processing, and Computer Vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.</p>

Other contributors: <a href="www.linkedin.com/in/jiahui-mavis-zhou-a4537814a">Mavis Zhou</a>

<hr>

<p>Copyright &copy; 2018 IBM Developer Skills Network. This notebook and its source code are released under the terms of the <a href="https://cognitiveclass.ai/mit-license/">MIT License</a>.</p>