![title](img/header.png)

<h1>Lists in Python</h1>

<p><strong>Selamat Datang!</strong> Notebook ini akan mengajarkan Anda tentang lists pada bahasa pemrograman Python. Pada akhir dari notebook ini, Anda akan tahu dasar operasi list pada Python, termasuk <i>indexing, operasi list, dan copy/menyalin list</i></p>

<h2>Daftar Isi</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#dataset">Tentang Dataset</a>
        </li>
        <li>
            <a href="#list">Lists</a>
            <ul>
                <li><a href="index">Indexing</a></li>
                <li><a href="content">List Content</a></li>
                <li><a href="op">List Operations</a></li>
                <li><a href="co">Copy dan Clone List</a></li>
            </ul>
        </li>
        <li>
            <a href="#quiz">Quiz tentang Lists</a>
        </li>
    </ul>
    <p>
        Prakiraan waktu yang dibutuhkan: <strong>15 min</strong>
    </p>
</div>

<hr>

<h2 id="#dataset">Tentang Dataset</h2>

Bayangkan Anda menerima rekomendasi album dari teman Anda dan menyusun semua rekomendasi tersebut kedalam sebuah tabel, dengan informasi yang spesifik tentang tiap album.

The table has one row for each movie and several columns:
Tabel tersebut memiliki satu baris untuk tiap film dan beberapa kolom:

- **artist** - Nama artis
- **album** - Name album
- **released_year** - Tahun album tersebut rilis
- **length_min_sec** - Durasi album (jam, menit, detik)
- **genre** - Genre album
- **music_recording_sales_millions** - Penjualan rekaman musik (juta dalam USD) di [SONG://DATABASE](http://www.song-database.com/)
- **claimed_sales_millions** - Penjualan album yang di klaim (juta dalam USD) di [SONG://DATABASE](http://www.song-database.com/)
- **date_released** - Tanggal album dirilis
- **soundtrack** - Indikasi jika album adalah sountrack film (Y) atau (N)
- **rating_of_friends** - Indikasi rating dari teman Anda 1 - 10
<br>
<br>

Dataset dapat di lihat dibawah:

<font size="1">
<table font-size:xx-small style="width:25%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

<h2 id="list">Lists</h2>

<h3 id="index">Indexing</h3>

Kita akan melihat list pada Python. Sebuah list adalah koleksi urutan dari obyek yang berbeda seperti integer, string, dan list lainnya. Pengalamatan dari tiap elemen dalam list disebut dengan <b>index</b>. Sebuah index digunakan untuk mengakses dan merujuk item didalam list.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsIndex.png" width="1000" />

 Untuk membuat sebuah list, ketikkan list didalam kurung kotak <b>[ ]</b>, dengan elemen didalam tanda kurung dan dipisahkan oleh koma.

In [1]:
# Buat sebuah list

L = ["Michael Jackson", 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

Kita dapat menggunakan pengindeksan negatif (negative indexing) dan pengindeksan pada umumnya pada list:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsNeg.png" width="1000" />

In [2]:
# Print the elements on each index
# Print elemen dari tiap indeks

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

<h3 id="content">List Content</h3>

Lists dapat mengandung string, floats, dan itegers. Kita dapat membuat list bersarang, dan kita juga dapat membuat tuple bersarang, dan struktur data lainnya. Pengindeksan yang sama juga diterapkan untuk hal bersarang ini:

In [3]:
# Contoh List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

<h3 id="op">Operasi List</h3>

 Kita dapat juga menerapkan irisan (slicing) pada list. Sebagai contoh, jika kita ingin elemen dua terakhir, kita menggunakan perintah berikut:

In [4]:
# Contoh List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsSlice.png" width="1000">

In [5]:
# Irisan List (List slicing)

L[3:5]

['MJ', 1]

Kita dapat menggunakan metode <code>extend</code> untuk menambahkan elemen baru kedalam list:

In [6]:
# gunakan extend untuk menambahkan elemen kedalam list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

Metode yang serupa lainnya adalah <code>append</code>. Jika kita terapkan <code>append</code> daripada <code>extend</code>, kita menambahkan satu elemen kedalam list:

In [7]:
# Gunakan append untuk menambahkan elemen kedalam list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

 Tiap kali kita menerapkan sebuah method, list akan berubah. Jika kita menerapkan <code>extend</code> kita menambahkan dua elemen kedalam list. List <code>L</code> kemudian dimodifikasi dengan menambahkan dua elemen baru:

In [8]:
# Gunakan extend untuk menambahkan elemen kedalam list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

Jika kita append kedalam list <code>['a', 'b']</code> kita mempunyai satu elemen baru yang terdiri dari list bersarang:

In [9]:
# Gunakan append untuk menambahkan elemen kedalam list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

Karena list dapat diubah, kita bisa mengubahnya. Sebagai contoh, kita dapat mengubah elemen pertama sebagai berikut:

In [10]:
# Ubah elemen berdasarkan indeks 

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

  Kita dapat juga menghapus sebuah elemen dari list dengan menggunakan perintah <code>del</code>:

In [11]:
# Hapus elemen berdasarkan indeks 

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

Kita dapat mengkonversi sebuah string menjadi list dengan menggunakan <code>split</code>. Sebagai contoh, metode <code>split</code> menerjemahkan setiap grup dari karakter yang dipisahkan dengan spasi kedalam elemen didalam list:

In [12]:
# Split sebuah string, default dengan menggunakan space

'hard rock'.split()

['hard', 'rock']

Kita dapat menggunakan fungsi split untuk memisahhkan string dengan karakter yang spesifik. Kita melewati karakter yang akan di split menjadi argumen, dimana pada kasus ini menggunakan koma. Hasilnya adalah sebuah list, dan tiap elemen sesuai dengan karakter yang dipisahkan oleh koma:

In [13]:
# Split string menggunakan koma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

<h3 id="co">Copy dan Clone List</h3>

Ketika kita mengatur satu variabel  <b>B</b> sama dengan <b>A</b>; keduanya <b>A</b> dan <b>B</b> merujuk ke list yang sama:

In [14]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsRef.png" width="1000" align="center">

Awalnya, nilai dari elemen pertama pada <b>B</b> adalah hard rock. Jika kita ubah elemen pertama pada <b>A</b> menjadi **banana**, kita mendapatkan hasil  yang tak terduga. Karena **A** dan **B** merujuk ke list yang sama, jika kita mengubah list **A**, kemudian list **B** juga berubah. Jika kita cek elemen pertama dari **B** kita dapatkan banana bukannya hard rock:

In [15]:
# Latihan menyalin dengan merujuk

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

Hal tersebut ditunjukkan pada gambar berikut:

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsRefGif.gif" width="1000" />

Anda bisa mengkloning list **A** dengan menggunakan sintaks berikut:

In [16]:
# kloning (kloning dengan nilai) dari list A

B = A[:]
B

['banana', 10, 1.2]

  Variabel **B** merujuk ke salinan yang baru dari list aslinya; hal ini ditunjukkan pada gambar dibawah:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/ListsVal.gif" width="1000" />

Sekarang jika kita ubah **A**, **B** akan berubah:

In [17]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

<h2 id="quiz">Kuis tentang List</h2>

Buat sebuah list <code>a_list</code>, dengan elemen berikut <code>1</code>, <code>hello</code>, <code>[1,2,3]</code> dan <code>True</code>.

In [18]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
a_list = [1, 'hello', [1, 2, 3] , True]
a_list
-->

Cari nilai yang disimpan pada indeks 1 dari <code>a_list</code>.

In [19]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
a_list[1]
-->

Ambil elemen yang disimpan pada ineks 1, 2 dan 3 dari <code>a_list</code>.

In [20]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
a_list[1:4]
-->

Gabungkan list berikut <code>A = [1, 'a']</code> dan <code>B = [2, 1, 'd']</code>:

In [21]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
A = [1, 'a'] 
B = [2, 1, 'd']
A + B
-->

<h3>About the Authors:</h3>  
<p><a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a> is a Data Scientist at IBM, and holds a PhD in Electrical Engineering. His research focused on using Machine Learning, Signal Processing, and Computer Vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.</p>

Other contributors: <a href="www.linkedin.com/in/jiahui-mavis-zhou-a4537814a">Mavis Zhou</a>

<hr>

<p>Copyright &copy; 2018 IBM Developer Skills Network. This notebook and its source code are released under the terms of the <a href="https://cognitiveclass.ai/mit-license/">MIT License</a>.</p>