![title](img/header.png)

<h1>Operasi String</h1>

<p><strong>Selamat Datang!</strong> Notebook ini akan mengajarkan Anda tentang operasi String dengan menggunakan bahasan pemrograman Python. Pada akhir dari notebook ini, anda akan tahu dasar operasi string pada Python, termasuk <i> indexing, escape sequences </i> dan <i> operations </i>

<h2>Daftar Isi</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#strings">Apa itu string?</a>
        </li>
        <li>
            <a href="#index">Indexing</a>
            <ul>
                <li><a href="neg">Negative Indexing</a></li>
                <li><a href="slice">Slicing</a></li>
                <li><a href="stride">Stride</a></li>
                <li><a href="concat">Concatenate Strings</a></li>
            </ul>
        </li>
        <li>
            <a href="#escape">Escape Sequences</a>
        </li>
        <li>
            <a href="#operations">Operasi String</a>
        </li>
        <li>
            <a href="#quiz">Quiz tentang Strings</a>
        </li>
    </ul>
    <p>
        Prakiraan waktu yang dibutuhkan: <strong>15 min</strong>
    </p>
</div>

<hr>

<h2 id="strings">Apa itu Strings?</h2>

Contoh dibawah ini menunjukkan string yang mengandung tanda petik dua:

In [1]:
# Gunakan tanda petik dua untuk mendefinisikan string

"Michael Jackson"

'Michael Jackson'

Kita juga dapat menggunakan tanda petik satu:

In [2]:
# Gunakan petik satu untuk mendefinisikan string

'Michael Jackson'

'Michael Jackson'

*Sebuah* string bisa terdiri dari kombinasi spasi dan digit angka:

In [3]:
# Digit angka dan spasi pada string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '



Sebuah string dapat dibentuk dari kombinasi  spesial karakter :

In [4]:
# Spesial karakter pada String

'@#2_#]&*^%$'

'@#2_#]&*^%$'

Kita dapat menampilkan string menggunakan statement "print":

In [5]:
# print (menampilkan) String

print("hello!")

hello!

Kita dapat assign (menetapkan) sebuah string ke variabel yang lain:

In [6]:
# Assign (menetapkan) string ke variable

Name = "Michael Jackson"
Name

'Michael Jackson'

<hr>

<h2 id="index">Indexing</h2>

String dapat diasumsikan sebagai urutan karakter. Tiap elemen (karakter) dapat dapat diakses menggunakan index yang direpresentasikan dengan array:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

  Index pertama dapat diakses sebagai berikut:

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Karena pengindeksan dimulai dari 0, itu berarti indeks pertama adalah index 0.
</div>
<hr/>

In [7]:
# Print element pertama dari string

print(Name[0])

M

Pengaksesan index 6:

In [8]:
# Print elemen pada indeks 6 dari string

print(Name[6])

l

Pengaksesan indeks ke-13

In [9]:
# Print elemen pada indek ke-13 dari string

print(Name[13])

o

<h3 id="neg">Negative Indexing</h3>

  Kita juga dapat menggunakan negative indexing (pengindeksan negatif) dengan string:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

Negative index dapat membantu kita untuk menghitung elemen yang dimulai akhir dari string.

Elemen akhir yang diberikan adalah dengan index -1:

In [10]:
# Print elemen akhir dari string

print(Name[-1])

n

Elemen utama bisa didapatkan dengan index -15:

In [11]:
# Print elemen pertama dari String

print(Name[-15])

M

Kita dapat menemukan banyaknya karakter dalam sebuah string dengan menggunakan <code>len</code>:

In [12]:
# Menemukan panjang dari string

len("Michael Jackson")

15

<h3 id="slice">Slicing</h3>

Kita bisa mendapatkan multiple characters (karakter berganda) dari string dengan menggunakan slicing (irisan), kita bisa mendapatkan elemen index ke-0 hingga ke-4 dan ke-8 hingga ke-12:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsSlice.png" width="600" align="center" />

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Ketika mengambil irisan, angka pertama berarti indeks awal(dimulai dari 0), dan angka kedua berarti panjang dari indeks tersebut ke elemen terakhir yang di inginkan (dimulai dari 1)
</div>
<hr/>

In [13]:
# Mengambil irisan dari nama variabel dengan hanya indeks 0 hingga indeks 3

Name[0:4]

'Mich'

In [14]:
# Mengambil irisan dari nama variabel dengan hanya indeks 8 hingga indeks 11

Name[8:12]

'Jack'

<h3 id="stride">Stride</h3>

 Kita juga dapat memasukkan sebuah nilai geseran (stride) sebagai berikut, dengan indikasi '2' yang kita gunakan untuk seleksi dari setiap variabel kedua:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsStride.png" width="600" align="center" />

In [15]:
# Mendapatkan setiap elemen kedua. Elemen pada indeks 1, 3, 5 ...

Name[::2]

'McalJcsn'

Kita dapat juga menggabungkan irisan (slicing) dengan geseran (stride). Pada kasus ini, kita memiliki lima elemen pertama dan kemudian menggunakan geseran:

In [16]:
# Mendapatkan setiap elemen kedua dengan rentang dari indeks 0 ke indeks 4

Name[0:5:2]

'Mca'

<h3 id="concat">Concatenate Strings</h3>

Kita dapat menggabungkan string dengan menggunakan tanda tambah, dan hasilnya adalah string baru yang berupa gabungan dari keduanya:

In [17]:
# Menggabungkan dua string

Statement = Name + "is the best"
Statement

'Michael Jacksonis the best'

Untuk menyalin string dengan mudah, dapat dengan mengkalikan string tersebut dengan angka sebanyak kita ingin menyalinnya. Pada kasus ini, angka tersebut adalah tiga. Hasilnya adalah sebuah string baru, dan string baru ini terdiri dari tiga salinan dari string yang asli.

In [18]:
# Print string sebanyak 3 kali

3 * "Michael Jackson"

'Michael JacksonMichael JacksonMichael Jackson'

Anda dapat membuat sebuah string baru dengan menempatkannya ke dalam variable awal. Menggabungkan dengan sebuah string yang baru, hasilnya adalah sebuah string baru yang berubah dari Michael Jackson menjadi "Michael Jackson is the best".

In [19]:
# Menggabungkan string

Name = "Michael Jackson"
Name = Name + " is the best"
Name

'Michael Jackson is the best'

<hr>

<h2 id="escape">Escape Sequences</h2>

Back Slashes merepresentasikan permulaan dari escape sequences. Escape sequences pada string mungkin agak susah untuk digunakan. Sebagai contoh, back slashes "n" merepresentasikan sebuah baris baru. Output yang diberikan setelah back slash "n" sebagai berikut:

In [20]:
# Escape sequence, baris baru

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

back slash  "t" merepresentasikan sebuah tab:

In [21]:
# Escape sequence, tab

print(" Michael Jackson \t is the best" )

 Michael Jackson 	 is the best

Jika Anda ingin menempatkan sebuah back slash di dalam string, gunakan back slahs ganda:

In [22]:
# back slash ganda pada string

print(" Michael Jackson \\ is the best" )

 Michael Jackson \ is the best

  Kita dapat juga menempatkan sebuah "r" sebelum string untuk menampilkan tanda back slash:

In [23]:
# r akan memberitahukan python bahwa string akan ditampilkan sebagai raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

<hr>

<h2 id="operations">Operasi String</h2>

Ada banyak metode operasi string pada Python yang dapat digunakan untuk memanipulasi data. Kita akan menggunakan beberapa operasi dasar string pada data.

Mari coba dengan metode <code>upper</code>; metode ini mengkonversi huruf kecil menjadi huruf kapital:

In [24]:
# Konversi semua karakter pada string menjadi upper case (huruf kapial)

A = "Thriller is the sixth studio album"
print("before upper:", A)
B = A.upper()
print("After upper:", B)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

Metode <code>replace</code> mengganti sebuah segmen dari string. misalnya substring dengan string yang baru. Kita masukkan bagian dari string yang akan di ubah. Argumen kedua adalah apa yang akan kita ubah dari segmen tersebut, dan hasilnya adalah string dengan segmen yang telah diubah.

In [25]:
# Ubah substring yang lama dengan target substring yang baru adalah segmen yang telah ditemukan dalam string.

A = "Michael Jackson is the best"
B = A.replace('Michael', 'Janet')
B

'Janet Jackson is the best'

Metode <code>find</code> mencari sebuah substring. Argumen adalah substring yang akan Anda cari, dan output adalah indeks pertama dari array. Kita bisa mencari substring <code>jack</code> atau <code>el.</code>

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsFind.png" width="600" align="center" />

In [26]:
# Cari substring dalam string. Hanya indeks dari elemen pertama dari substring dalam string akan dikeluarkan

Name = "Michael Jackson"
Name.find('el')

5

In [27]:
# Cari substring dalam string.

Name.find('Jack')

8

Jika substring tidak ada dalam string kemudian output adalah negatif satu (-1). Sebagai contoh, string 'Jasdfasdasdf' tidak dalam substring:

In [28]:
# Tidak dapat menenumkan substring dalam string

Name.find('Jasdfasdasdf')

-1

<hr>

<h2 id="quiz">Quiz on Strings</h2>

Apa nilai dari variabel <code>A</code> setelah kode berikut di eksekusi?

In [29]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

A = "1"

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
"1"
-->

Apa nilai dari variabel <code>B</code> setelah kode berikut di eksekusi?

In [30]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

B = "2"

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
"2"
-->

Apa nilai dari variabel <code>C</code> setelah kode berikut di eksekusi?

In [31]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

C = A + B

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
"12"
-->

<hr>

Perhatikan variabel <code>D</code> menggunakan irisan (slicing) untuk menampilkan tiga elemen utama:

In [32]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

D = "ABCDEFG"

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
print(D[:3]) 
# or 
print(D[0:3])
-->

<hr>

Gunakan 2 geseran (stride) untuk menampilkan setiap karakter kedua dari string<code>E</code>:

In [33]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

E = 'clocrkr1e1c1t'

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
print(E[::2])
-->

<hr>

Tampilkan sebuah backslash:

In [34]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

Klik dua kali <b>disini</b> untuk solusinya.
<!-- Your answer is below:
print("\\")
or
print(r" \ ")
-->

<hr>

Konversi variabel <code>F</code> menjadi uppercase (kapital):

In [35]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

F = "You are wrong"

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
F.upper()
-->

<hr>

Perhatikan variabel <code>G</code>, dan cari substring <code>snow</code>:

In [36]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

G = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
G.find("snow")
-->

Pada variabel <code>G</code>, ganti substring <code>Mary</code> dengan <code>Bob</code>:

In [37]:
# Tulis kode Anda dibawah dan tekan Shift+Enter untuk eksekusi

Klik dua kali <b>disini</b> untuk solusinya.

<!-- Your answer is below:
G.replace("Mary", "Bob")
-->

<h3>About the Authors:</h3>  
<p><a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a> is a Data Scientist at IBM, and holds a PhD in Electrical Engineering. His research focused on using Machine Learning, Signal Processing, and Computer Vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.</p>

Other contributors: <a href="www.linkedin.com/in/jiahui-mavis-zhou-a4537814a">Mavis Zhou</a>

<hr>
<p>Copyright &copy; 2018 IBM Developer Skills Network. This notebook and its source code are released under the terms of the <a href="https://cognitiveclass.ai/mit-license/">MIT License</a>.</p>